<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
	"http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<!-- See http://checkstyle.sourceforge.net/checks.html for documentation -->
<module name="Checker">
	<!-- <property name="basedir" value=""/> -->
	<property name="cacheFile"       value="target/checkstyle.cache"/>
	<property name="localeCountry"   value="SE"/>
	<property name="localeLanguage"  value="en"/>
	<property name="charset"         value="UTF-8"/>
	<property name="fileExtensions"  value="java, properties, xml"/>
	<property name="severity"        value="error"/>
	<property name="haltOnException" value="true"/>
	
	<module name="FileLength">
		<property name="max" value="1000"/>
	</module>
	
	<!-- <module name="FileTabCharacter"/> -->
	
	<!--
	<module name="Header">
		<property name="headerFile" value="${checkstyle.header.file}"/>
		<property name="fileExtensions" value="java"/>
	</module>
	-->
	
	<!--
	<module name="JavadocPackage">
		<property name="allowLegacy"  value="false"/>
		<property name="fileExtensions" value=".java"/>
	</module>
	-->
	
	<module name="NewlineAtEndOfFile">
		<property name="lineSeparator" value="LF"/>
	</module>
	
	<module name="RegexpSingleline">
		<property name="format"  value="[^\s]\s+$"/>
		<property name="minimum" value="0"/>
		<property name="maximum" value="0"/>
		<property name="message" value="Line has trailing spaces."/>
	</module>
	
	<module name="RegexpSingleline">
		<property name="format"  value="[^\t]\t"/>
		<property name="minimum" value="0"/>
		<property name="maximum" value="0"/>
		<property name="message" value="Line has embedded tabs."/>
	</module>
	
	<module name="Translation"/>
	
	<module name="TreeWalker">
		<property name="tabWidth" value="4"/>
		
		<module name="AbbreviationAsWordInName"/>
		<module name="AbstractClassName"/>
		<module name="AnnotationLocation"/>
		<module name="AnnotationUseStyle"/>
		<module name="AnonInnerLength"/>
		<module name="ArrayTrailingComma"/>
		<module name="ArrayTypeStyle"/>
		<module name="AtclauseOrder">
			<property name="violateExecutionOnNonTightHtml" value="true"/>
		</module>
		<module name="AvoidEscapedUnicodeCharacters"/>
		<!-- <module name="AvoidInlineConditionals"/> -->
		<module name="AvoidNestedBlocks"/>
		<module name="AvoidStarImport"/>
		<module name="AvoidStaticImport"/>
		<module name="BooleanExpressionComplexity"/>
		<module name="CatchParameterName">
			<property name="format" value="^exception$"/>
		</module>
		<module name="ClassDataAbstractionCoupling">
			<property name="max" value="9"/>
		</module>
		<module name="ClassFanOutComplexity">
			<property name="max" value="21"/>
		</module>
		<module name="ClassTypeParameterName"/>
		<module name="CommentsIndentation"/>
		<module name="ConstantName"/>
		<module name="CovariantEquals"/>
		<!--
		<module name="CyclomaticComplexity">
			<property name="max" value="12"/>
			<property name="switchBlockAsSingleDecisionPoint" value="false"/>
		</module>
		-->
		<module name="DeclarationOrder"/>
		<module name="DefaultComesLast"/>
		<!-- <module name="DesignForExtension"/> -->
		<module name="EmptyBlock">
			<property name="tokens" value="LITERAL_WHILE, LITERAL_TRY, LITERAL_CATCH, LITERAL_FINALLY, LITERAL_DO, LITERAL_IF, LITERAL_ELSE, LITERAL_FOR, INSTANCE_INIT, STATIC_INIT, LITERAL_SWITCH, LITERAL_SYNCHRONIZED, LITERAL_CASE, LITERAL_DEFAULT, ARRAY_INIT"/>
		</module>
		<module name="EmptyCatchBlock"/>
		<module name="EmptyForIteratorPad"/>
		<module name="EmptyLineSeparator">
			<property name="allowMultipleEmptyLinesInsideClassMembers" value="false"/>
			<property name="allowMultipleEmptyLines" value="false"/>
		</module>
		<module name="EmptyStatement"/>
		<module name="EqualsAvoidNull"/>
		<module name="EqualsHashCode"/>
		<module name="FallThrough">
			<property name="checkLastCaseGroup" value="true"/>
		</module>
		<module name="ExecutableStatementCount">
			<property name="max" value="50"/>
		</module>
		<module name="FinalClass"/>
		<!--
		<module name="FinalLocalVariable">
			<property name="tokens" value="PARAMETER_DEF, VARIABLE_DEF"/>
			<property name="validateEnhancedForLoopVariable" value="true"/>
		</module>
		-->
		<module name="FinalParameters">
			<property name="tokens" value="METHOD_DEF, CTOR_DEF, LITERAL_CATCH, FOR_EACH_CLAUSE"/>
		</module>
		<module name="GenericWhitespace"/>
		<module name="HiddenField">
			<!-- Disabled: PARAMETER_DEF -->
			<property name="tokens" value="LAMBDA, VARIABLE_DEF"/>
		</module>
		<module name="HideUtilityClassConstructor"/>
		<module name="IllegalCatch"/>
		<module name="IllegalImport"/>
		<module name="IllegalInstantiation"/>
		<module name="IllegalThrows">
			<property name="ignoredMethodNames" value=""/>
			<property name="ignoreOverriddenMethods" value="false"/>
		</module>
		<module name="IllegalToken"/>
		<module name="IllegalTokenText"/>
		<module name="IllegalType"/>
		<module name="ImportControl">
			<property name="file" value="import-policy.xml"/>
			<property name="path" value="^.*[/\\]?src[/\\].*$"/>
		</module>
		<module name="ImportOrder">
			<property name="caseSensitive" value="false"/>
			<property name="groups" value=""/>
			<property name="option" value="under"/>
			<property name="ordered" value="true"/>
			<property name="separated" value="false"/>
			<property name="sortStaticImportsAlphabetically" value="true"/>
			<property name="useContainerOrderingForStatic" value="false"/>
		</module>
		<!-- <module name="Indentation"/> -->
		<module name="InnerAssignment"/>
		<module name="InterfaceIsType"/>
		<module name="InterfaceTypeParameterName"/>
		<module name="JavadocMethod"/>
		<module name="JavadocParagraph"/>
		<module name="JavadocStyle">
			<property name="checkEmptyJavadoc" value="true"/>
		</module>
		<module name="JavadocTagContinuationIndentation"/>
		<module name="JavadocType">
			<property name="authorFormat" value="\S"/>
			<!-- <property name="versionFormat" value="\$Revision.*\$"/> -->
		</module>
		<module name="JavadocVariable"/>
		<module name="LeftCurly">
			<property name="option" value="nl"/>
			<property name="tokens" value="INTERFACE_DEF, CLASS_DEF, ENUM_DEF, OBJBLOCK"/>
		</module>
		<module name="LeftCurly">
			<property name="option" value="nlow"/>
			<property name="tokens" value="ANNOTATION_DEF, CTOR_DEF, ENUM_CONSTANT_DEF, LAMBDA, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_SWITCH, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, METHOD_DEF, STATIC_INIT"/>
		</module>
		<module name="LineLength"/>
		<module name="LocalFinalVariableName"/>
		<module name="LocalVariableName"/>
		<!-- <module name="MagicNumber"/> -->
		<module name="MemberName"/>
		<module name="MethodLength"/>
		<module name="MethodName"/>
		<module name="MethodParamPad"/>
		<module name="MissingCtor"/>
		<module name="MissingDeprecated"/>
		<module name="MissingOverride"/>
		<module name="MissingSwitchDefault"/>
		<module name="ModifiedControlVariable"/>
		<module name="ModifierOrder"/>
		<!-- <module name="MultipleStringLiterals"/> -->
		<module name="MultipleVariableDeclarations"/>
		<module name="MutableException"/>
		<module name="NeedBraces"/>
		<module name="NestedForDepth">
			<property name="max" value="2"/>
		</module>
		<module name="NestedIfDepth"/>
		<module name="NestedTryDepth"/>
		<module name="NoClone"/>
		<module name="NoFinalizer"/>
		<module name="NoLineWrap">
			<!-- Disabled: CLASS_DEF, METHOD_DEF, CTOR_DEF, ENUM_DEF, INTERFACE_DEF -->
			<property name="tokens" value="IMPORT, STATIC_IMPORT, PACKAGE_DEF"/>
		</module>
		<module name="NonEmptyAtclauseDescription">
			<property name="violateExecutionOnNonTightHtml" value="true"/>
		</module>
		<module name="NoWhitespaceAfter">
			<property name="allowLineBreaks" value="false"/>
			<!-- Disabled: ARRAY_INIT, TYPECAST -->
			<property name="tokens" value="AT, INC, DEC, UNARY_MINUS, UNARY_PLUS, BNOT, LNOT, DOT, ARRAY_DECLARATOR, INDEX_OP, LITERAL_SYNCHRONIZED, METHOD_REF"/>
		</module>
		<module name="NoWhitespaceBefore">
			<property name="tokens" value="COMMA, SEMI, POST_INC, POST_DEC, DOT, GENERIC_START, GENERIC_END, ELLIPSIS, METHOD_REF"/>
		</module>
		<module name="NPathComplexity">
			<property name="max" value="2100"/>
		</module>
		<!-- <module name="OneStatementPerLine"/> -->
		<module name="OneTopLevelClass"/>
		<module name="OperatorWrap"/>
		<module name="OuterTypeFilename"/>
		<module name="OuterTypeNumber"/>
		<module name="OverloadMethodsDeclarationOrder"/>
		<module name="PackageAnnotation"/>
		<!-- <module name="PackageDeclaration"/> -->
		<module name="PackageName"/>
		<module name="ParameterAssignment"/>
		<module name="ParameterName"/>
		<module name="ParameterNumber">
			<property name="max" value="6"/>
		</module>
		<module name="ParenPad"/>
		<module name="RedundantImport"/>
		<module name="RedundantModifier"/>
		<module name="RequireThis"/>
		<module name="RightCurly">
			<property name="option" value="alone"/>
			<property name="tokens" value="CLASS_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, LITERAL_DO, METHOD_DEF"/>
		</module>
		<module name="RightCurly">
			<property name="option" value="same"/>
			<property name="tokens" value="INSTANCE_INIT, LAMBDA, LITERAL_CATCH, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_IF, LITERAL_TRY, STATIC_INIT"/>
		</module>
		<module name="SimplifyBooleanExpression"/>
		<module name="SimplifyBooleanReturn"/>
		<module name="SingleLineJavadoc">
			<property name="violateExecutionOnNonTightHtml" value="true"/>
		</module>
		<!-- <module name="SingleSpaceSeparator"> -->
		<module name="StaticVariableName"/>
		<module name="StringLiteralEquality"/>
		<module name="SummaryJavadocCheck">
			<property name="violateExecutionOnNonTightHtml" value="true"/>
		</module>
		<module name="SuperClone"/>
		<module name="SuperFinalize"/>
		<module name="SuppressionCommentFilter">
			<property name="checkCPP" value="true"/>
			<property name="checkC" value="true"/>
			<property name="checkFormat" value="$1"/>
			<property name="offCommentFormat" value="CHECKSTYLE.OFF\: ([\w\|]+)"/>
			<property name="onCommentFormat" value="CHECKSTYLE.ON\: ([\w\|]+)"/>
		</module>
		<!--
		<module name="SuppressWarningsHolder">
			<property name="aliasList" value=""/>
		</module>
		-->
		<module name="ThrowsCount">
			<property name="ignorePrivateMethods" value="false"/>
			<property name="max" value="3"/>
		</module>
		<!-- <module name="TodoComment"/> -->
		<module name="TrailingComment"/>
		<module name="TypecastParenPad"/>
		<module name="TypeName"/>
		<module name="UncommentedMain">
			<property name="excludedClasses" value="\.MatchThree$"/>
		</module>
		<module name="UnnecessaryParentheses"/>
		<module name="UnusedImports">
			<property name="processJavadoc" value="false"/>
		</module>
		<module name="UpperEll"/>
		<module name="VariableDeclarationUsageDistance">
			<property name="allowedDistance" value="3"/>
			<property name="ignoreFinal" value="false"/>
			<property name="validateBetweenScopes" value="true"/>
		</module>
		<!-- <module name="VisibilityModifier"/> -->
		<module name="WhitespaceAfter"/>
		<module name="WhitespaceAround"/>
	</module>
</module>
